/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__brand-green;

	&:visited {
		// color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__brand-purple;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {

	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid $color__background-hr;
	z-index: 1;
	height: 50px;


/*search form*/

	.nav-menu-holder{
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	fieldset, input, button{
		border:none;
		padding-right:0;
		padding-top:8px;
		outline:none;
	}

	button{
		box-shadow:none;
		background:none;
		font-size: 1rem;
		color:$color__brand-green;
		// &:focus{
		// 	outline:none;
		// }


}

.search-field{
	width:0;
	transition: width 0.5s;
	font-size: 1rem;
	color:$color__text-main;
	text-transform: uppercase;
	outline:none;
}

.search-field-show{

	width:200px;

}





/*end of search form*/

	.logo{
		padding-top: 8px;
		width: 50px;
	}

	.container{
		@include container;
		 display:flex;
		justify-content: space-between;
	}

	ul {
		display:flex;
		text-transform: uppercase;
		flex-flow: row nowrap;
		list-style: none;
		align-items: center;



		ul {

			// li:last-child{
			// 	color:red;
			// }
		// 	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		// 	float: left;
		// 	position: absolute;
		// 	top: $base__space-unit;
		// 	left: -999rem;
		// 	z-index: 99999;
		//
		//
		// 	ul {
		// 		left: -999rem;
		// 		top: 0;
		//
		// 	}

			li {

				&:hover > ul,
				&.focus > ul {
					// left: 100%;
				}
			}

			a {
				// width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			// left: auto;
		}
	}
	li {
		// float: left;
		// position: relative;
		padding-right: 20px;

		&:last-child{
			padding-right: 0;
		}

		&:hover > a,
		&.focus > a {

			color:black;
		}
	}
	a {
		// display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}


/* nav bar search form */

.main-navigation{




}

/* Small menu. */
.menu-toggle,
.main-navigation ul {
	// display: block;
}

// @media screen and (min-width: 768px) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
