/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* About Container */
.site-main.about{
display:flex;
flex-direction: column;

  .about.container{
    display:flex;
    flex-direction: column;

    h1{
      text-align: center;
    }

  }

  .about-hero{
    height:100vh;
    width:100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
      color:white;
    }

  }


}



/* Front page */

.front-page{
// display:flex;
// width:auto;
  .site-content{
    // width:auto;
  }

  .hero{
    background-image: url('../../images/home-hero.jpg');
    height:100vh;
    background-size: cover;
    // width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
  }

}

.latest-adventures{
    //  color:white;
		 display:flex;
		 flex-direction: column;
		 height: 820px;
		 @include container;


	h1{
		 display: inline;
		 margin: 0 auto;
     font-weight: lighter;
	}

		.adventure-container{
			display: flex;
			height:540px;

			h2{
				display:block;
				padding-top: 10%;
			}

			.inhab-button{
				margin-top: 20px;
			}

				.adventure-left{
					width:50%;
					background-color: darkgrey;
				}

				.adventure-right-container{
					width:50%;
					background-color: grey;
					display:flex;
					flex-direction: row;
					flex-flow: wrap;

					.adventure-top-right{
						width:100%;
					}

					.adventure-bottom-left{
						width:50%;
					}

					.adventure-bottom-right{
						width:50%;
					}

				}

		}

}



.shop-stuff-section{



  display:flex;
  flex-direction: column;

  h1{
    font-weight: lighter;
    text-align: center;
    padding: 30px 0;
    font-size: 2.5rem;
  }


  .shop-stuff-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;


    .shop-cat-item{
      width:25%;
      text-align:center;
      width:260px;
      height:270px;
      border: 1px solid $color__box-border;
      border-top: 5px solid $color__box-border;
      padding: 10px 10px 0 10px;

      p{
        font-family: $font__pre;
        height: 75px;
        margin-bottom: 30px;
      }

      &:hover{
        border: 1px solid $color__brand-orange;
        border-top: 5px solid $color__brand-orange;
      }

      img{
        width: 70px;
      }

    }

  }

}



.inhab-newsfeed-section{
  display:flex;
  justify-content: center;
  flex-direction: column;

  h1{
    text-align:center;
    font-weight: lighter;
  }

  .inhab-newsfeed-container{
    display:flex;
    justify-content: space-around;

    .inhab-newsfeed-item{
      width:30%;

      img{
        width:100%;
      }
    }
  }

}


/* Home page*/


.home{

}
.site-main:first-child{
  margin-top: 100px;
}

.container{
  @include container;
  display:flex;
}

.post{
  margin-top: 60px;
    //  width:90%;
    // border-right: 1px solid $color__brand-light-grey;
    padding-right: 60px;
}

.entry-header{
  position:relative;

  h1{
    color:white;
  }



  a{
    color: $color__brand-white;
    text-decoration: none;
  }

  .entry-title{
    position:absolute;
    top:0;
    left:0;
    margin-top: 30px;
    background-color: $color__brand-green;
    padding: 10px 60px 10px 10px;
    max-width: 560px;
    font-size: 2.2rem;
    line-height: 120%;
    // font-family: $font__main;
    text-transform: uppercase;
  }

  img{
    width: 760px;
  }
}

.entry-content{

p{
   font-family: $font__pre;
  line-height: 200%;
  width:760px;
}

}
