.product-container {
    width: 1120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .type-products {
        display: flex;

        img {
            object-fit: cover;
            width: 260px;
            height: 250px;
        }

        .product-info-container {
            @include top-heavy-border-box;
            margin-top: -7px;

            .product-info {
                width: 260px;
                height: 50px;
                margin: 0 auto;
                position: relative;

                p {
                    font-family: $font__pre;
                    display: inline;
                    position: absolute;
                    background-color: white;
                    overflow: hidden;
                    white-space: nowrap;

                    &:first-child {
                        left: 0;
                        padding-left: 15px;

                        &:after {
                            content: " ........................";
                        }
                    }

                    &:last-child {
                        padding-right: 15px;
                        right: 0;
                    }
                }
            }
        }
    }
}
